.App-logo {
    margin: 0;
    padding: 0;
    float: left;
    width: 50px;
    height: 60px;
}
  
.App-header {
    height: 75px;
    padding: 10px;
    background-color: #000;
    min-width: inherit;
    box-shadow: 0 0 2px 0 #696969;
}

.user-info{
      width: 55px;
      height: 40px;
      margin: 8px 0;
      background-color: dimgray;
}

.signoutbtn{
    width: 55px;
    height: 30px;
    color: aliceblue;
    background-color: dimgray;
}


.dropdown {
    position: relative;
    display: none;
    float: right;
}


.dropdown-content {
    display: none;
    position: absolute;
    right: 1%;
    background-color: dimgray;
    border-radius: 5px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
}

.dropdown-content a {
    padding: 10px 16px;
    display: block;
}

.dropdown-content b {
    display: block;
}

.logged-user-detail{
    display: block;  
    position: relative;
    float: right;
    margin: 12px 0;
}

.dropdown-content p {
  padding: 10px 16px;
  display: block;
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.dropdown-content a:hover {background-color: rgb(129, 129, 129);}

.dropdown:hover .dropdown-content {display: block;}

@media screen and (max-width: 550px){
    .dropdown{
        display: block;
    }

    .logged-user-detail{
        display: none;
    }
}