body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100%;
}

.btn {
  text-transform: capitalize;
  font-size: medium;
  font-weight: bolder;
  background-color: #60b6c7;
  border-color: #60b6c7;
  color: white;
}
.btn:focus, .btn:hover {
  text-decoration: none;
  background-color: #60b6c7;
  border-color: #60b6c7;
  color: white
}


